.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  height: 40rem;
  width: 100%;

  background: var(--color-white);
  overflow: hidden;
  position: relative;

  @media (min-width: 600px) {
    width: 30rem;
  }
}

.main-container h1 {
  color: var(--color-white);
  font-size: 36px;
  letter-spacing: 0.2rem;
  z-index: 2;
}

.main-container span {
  color: var(--color-2);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.binary-number {
  color: var(--color-white);

  &::placeholder {
    color: var(--color-white);
  }
}
.decimal-number {
  color: var(--color-2);
  &::placeholder {
    color: var(--color-2);
  }
}
.binary-number,
.decimal-number {
  height: 4.7rem;
  width: 80%;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1rem;
  outline: none;
  font-size: 30px;
  background: none;
  border-bottom: 1px solid var(--color-3);
  z-index: 2;
}

.arrow-button {
  height: 2.5rem;
  width: 2.5rem;
  transform: rotate(90deg);
  cursor: pointer;
}

.background {
  font-size: 1200px;
  position: absolute;
  top: -110%;

  display: flex;
  align-items: flex-start;

  color: var(--color-1);
}

.button {
  cursor: pointer;
  position: relative;
  border: none;

  color: var(--color-white);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;

  i {
    font-size: 20px;
    margin-top: 8px;
    color: var(--color-white);
  }
}
